*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./assets/banner2.png);
    background-size: 100%;
}

.alpha-container{
    width: max(65rem);
    height: max(45rem);
    box-shadow: 12px 20px 2px rgba(0, 0, 0, 0.358);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.img-container{
    width: 40%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(45deg, #3E5151, #DECBA4);


    div{
        background: rgba(0, 0, 0, 0.402);
        text-align: center;
        padding: 10px;
        position: relative;
        top: 10%;
    }
}

.text-container{
    width: 60%;
    height: 100%;
    background:rgb(237, 237, 237);
    padding: 50px;
}