*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}

input{
    height: 1.7rem;
    display: block;
    border-color: transparent;
    transition: all 0.3s ease;
    
    &:hover{
        border-color: rgb(118, 118, 118);
        border-radius: 5px;
    }

    &:invalid{
        border-color: red;
    }
}

body{
    background: url(./assets/banner2.png);
    background-size: 180%;
}

.alpha-container{
    width: max(65rem);
    height: max(45rem);
    box-shadow: 12px 20px 2px rgba(0, 0, 0, 0.358);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.img-container{
    width: 40%;
    height: 100%;
    overflow: hidden;
    background: url('./assets/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: 120%;


    div{
        background: rgba(0, 0, 0, 0.537);
        text-align: center;
        padding: 10px;
        position: relative;
        top: 10%;
        color: whitesmoke;
        font-family: "Headshots";
        font-stretch: expanded;
    }
}

.text-container{
    width: 60%;
    height: 100%;
    background:rgb(237, 237, 237);
    padding: 50px;
    font-family: "montserrat";
}

#form{
    margin-top: 50px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.155) ;
    padding-bottom: 1rem;
}

.form-wrapper-1,
.form-wrapper-2,
.form-wrapper-3{
    display: flex;
    flex-direction: row;
    gap: 2rem;

    label{
        font-size: 0.7rem;
    }
}


.btn{
    margin-top: 2rem;

    background-color: #596D48;
    color: white;

    width: 10rem;
    height: 4rem;
    border-radius: 1rem;

    display: grid;
    place-content: center;

    font-size: 0.8rem;
    font-family: arial;

    cursor: pointer;

    margin-bottom: 20px;

    &:hover{
        background: white;
        color: #596D48;
        border: 2px solid #596D48;
        transition: all 0.3s ease-in-out;
    }
}